<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motionlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WifiSearchAnimation" />
        <activity android:name=".MotionScene1" />
        <activity android:name=".MotionScene2" />
        <activity android:name=".MotionScene3" />
        <activity android:name=".MotionScene4" />
        <activity android:name=".MotionScene5" />
        <activity android:name=".MotionScene6" />
        <activity android:name=".MotionScene7" />
        <activity android:name=".MotionScene8" />
        <activity android:name=".MotionScene9" />
        <activity android:name=".MotionScene10" />

        <activity android:name=".locomotion.LocoMotionActivity" />

        <activity android:name=".locomotion.motionscene1.Scene1Activity" />
        <activity android:name=".locomotion.motionscene1.Scene2Activity" />
        <activity android:name=".locomotion.motionscene1.Scene3Activity" />
        <activity android:name=".locomotion.motionscene1.Scene4Activity" />
        <activity android:name=".locomotion.motionscene1.Scene5Activity" />

        <activity android:name=".locomotion.motionscene2.Scene6Activity" />

    </application>

</manifest>